page-about {
    .back{
        background-color: #e0ebeb;
    }

    table{
        width: 100%;
    }

    .like{
        text-align: center;
    }
        
    .bot{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%; 
    }
}
