page-home {
    
    .bot{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%; 
    }

    .back{
        background-color: #e0ebeb;
    }

    p{
        padding-left: 5%;
    }
    .red{
        color: red;
    }

    .green{
        color: green;
    }
}
